<h1>www.PrivateKeyVault.com</h1>
<h3>Gives to You...</h3>
<h1>ABACUS for IOTA</h1>
<h2>An Open-Source Air-Gapped Client/Server Accounting and Banking System</h2>
<h2>For Governments, Institutions, Individuals, and Machines</h2>

<div class="blurb">
  This experiment is a work in progress.<br>
  Do not manage more IOTAs with this accounting/banking system than you are prepared to lose.<br>
  Use this system at your own risk.<br>
  <br>
  <br>
  Feel free to contribute ideas at:<br>
  https://github.com/johnshearing/IOTA-Secure-Airgapped-Accounting-and-Banking-System
</div>

<div class="ctaWrapper"> 
  <a class="cta green" href="user/list">List Users</a> 
  <a class="cta green" href="oContact/list">List Contacts</a>  
  <a class="cta green" href="metadata/list">List Metadata</a>  
  <a class="cta green" href="account/create">Create Account</a>  
  <a class="cta blue" href="session/create">Login</a>
</div>

<!-- General Settings -->


