<h1>www.PrivateKeyVault.com</h1>
<h2>Open-Source Air-Gapped Client/Server Wallet for IOTA</h2>
<h2>For Individuals, Institutions, and Governments</h2>

<div class="blurb">
  This experiment is a work in progress.<br>
  Do not transfer more IOTAs with this wallet than you are prepared to lose.<br>
  Use this wallet at your own risk.<br>
  <br>
  <br>
  Feel free to contribute ideas at:<br>
  https://github.com/johnshearing/iotaAirgappedClientServerWallet
</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>



