<html>
  <head>
    <title>IOTA Online Broadcaster</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <script src="Script name goes here"></script>

    <div id="title">
      <img src="img/iota-offline-icon.png">
      <span id="titleText">IOTA Online Broadcaster</span>
      <span id="version">v1.20180927.1530</span>
    </div>
    
    <form onsubmit="broadcastBundle(); return false;" method="post">

      <div class="inputArea">
        <input id="nodeURL" type="text" placeholder="Node URL" value="http://nodes.iota.fm"> // Node url<br>
        <input id="nodePort" type="text" placeholder="Node port" value="80"> // Node port<br>
        <textarea rows="6" id="signedBundleTrytes" type="text" placeholder="Insert your signed bundle here..." value=""></textarea><br>
      </div>

      <div class="actionArea">
        <button id="sendButton" type="submit()">Send bundle</button><br>
      </div>

      <div class="feedbackArea">
        Status: <span id="sendResult">Not yet broadcasted...</span><br>
      </div>

    </form>
  </body>
</html>
